/*
  Copy to use.
*/
:root {
    --soft-red-1: #ff7f7f;
    --soft-orange-1: #ffbf7f;
    --soft-yellow-1: #ffef7f;
    --soft-green-1: #99ff7f;
    --soft-cyan-1: #7fffff;
    --soft-blue-1: #7f7fff;
    --soft-purple-1: #ff7fbf;
}